body {
  font-family: sans-serif;
}

#button {
  display: block;
  width: 100px;
  margin: 0 auto 50px auto;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: turquoise;
  margin: 0 auto;
}

#square {
  background: yellow;
  width: auto;
}
